.card {
    border-radius: 15px;

}

.progress-bar {
    animation: progress-animation 3s ease-in-out;
}
.progress {
    background-color: #f9ffcd; /* رنگ پس‌زمینه نوار پیشرفت */
}

@keyframes progress-animation {
    from {
        width: 0%;
    }
    to {
        width: 70%;
    }
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #76b947;
}

#timer {
    font-weight: bold;
    font-size: 1.2rem;
}

.challenge-meta {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    color: #6c757d;
    font-size: 0.875rem;
}

.progress-container {
    background: #edf2f7;
    border-radius: 3px;
    margin-bottom: 1.5rem;
}

.progress-bar-custom {
    height: 6px;
    border-radius: 3px;
    background: linear-gradient(45deg, #ff6a00, #ee0979);



}

.table th, .table td {
    vertical-align: middle; /* تراز عمودی */
}

.table {
    border-radius: 15px;
    overflow: hidden; /* جلوگیری از برش گوشه‌ها */
}

.blur-row {
    filter: blur(2px);
}

.text-primary {
    font-weight: bold; /* متن پررنگ */
}

