body {
    direction: rtl;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff85a2, #ffc300);
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: #fff;
    color: #333;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    padding: 20px;
}

.login-container h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    background: linear-gradient(135deg, #ff85a2, #ffc300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-container .signup {
    margin-top: 15px;
    font-size: 0.9rem;
}

.login-container .signup a {
    color: #ff85a2;
    font-weight: bold;
}

.login-container .signup a:hover {
    text-decoration: underline;
}

.login-container button {
    background: linear-gradient(135deg, #ff85a2, #ffc300);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s;
}
.login-container button:hover {
    transform: scale(1.05);
}
